// Button
$hoverColorPrimary: #0039cb;
$hoverColorDefault: #aeaeae;
$hoverColorSecondary: #1c313a;
$hoverColorDanger: #9a0007;
$hoverVariantOutlineText: rgba(
   $color: #2962ff,
   $alpha: 10%,
);

$lol: red;
